# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Type checking
.mypy_cache/

# Linter
.ruff_cache/

# Testing
.pytest_cache/
htmlcov/
.coverage

# Environment variables
.env

# IDE
.vscode/
.idea/